h1{
    color:blueviolet;
    background-color: chartreuse;
    font-weight: 800;
}
p{
    color:cadetblue;
    background-color: aquamarine;
}
button{
    color:cornsilk;
    background-color:darkturquoise;
}