#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;/*flex-start, 
    flex-end, center, space-between, space-around, space-evenly*/
    /* flex-wrap: wrap; */
    align-items: baseline;
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 350px;
    color: ghostwhite;
    font-size: 1.5em;
    text-align: center;
}