#outer{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: violet;
    font-size: 20px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: skyblue;
    font-size: 3em; /* Relative to the parent's font size */
    padding: 1em; /* Relative to the font size of itself */
}
button{
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid pink;
    padding-left: 1em;
    padding-right: 1em;
}
