h1{
    border: 2px solid green;
    width: 33.33%;
}

#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: 50px;
}

#inner{
    display:inline-block;
    height: 100px;
    width: 100px;
    background-color: skyblue;
    margin: 37.5%;
}