div {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  display: inline-block;
}

#Static {
  background-color: aqua;
  position: static;
  /* No Effect */
  top: 100px;
  left: 100px;
}
