div{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    text-align: center;
    border: 3px solid black;
    margin: 10px;
    display: inline-block;
}

#Absolute{
    background-color: aquamarine;
    position: absolute;
    top: 100px;
    left: 100px;
}