div{
    /* border-width: 5px;
    border-style: solid;
    border-color:aqua; */
    border:5px solid aqua;
}

h1{
    /* border-width: 2px;
    border-style: dashed;
    border-color:chartreuse; */
    border: 2px dashed chartreuse;
}