div {
  height: 100px;
  width: 100px;
  background-color: coral;
  margin-top: 10px;
  margin: 0 auto;
  transition: margin-top 2s ease-in-out 0.3s;
}
div:hover {
    margin-top: 400px;
    background-color: yellow;;
}
