section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
    transition: 1s ease-in-out 0.1s;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}
#one:hover{
    transform: translate(100px, 100px);
}
#two:hover{
    transform: translateX(200px);
}
#three:hover{
    transform: translateX(-200px);
}