.card{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
    /* transition: box-shadow 1s ease-in; */
    transition: box-shadow .3s ease, transform .3s ease;
    will-change: box-shadow, transform;
}

img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.desc{
    padding: 0 5px 0 5px;
}

.card:hover{
    box-shadow: 0 8px 16px black;
    transform: scale(1.03) translate(-2px); 
}