section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
    transition: 1s ease-in-out 0.1s;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}
/* Rotate */
#one:hover{
    transform: rotate(360deg);
}

/* Scale */
#two:hover{
    transform: scale(0.5);
}

/* Translate */
#three:hover{
    transform: translate(100px, 200px);
}

/* Skew */
#four:hover{
    transform: skew(60deg);
}

/* Implement together */
#five:hover{
    transform: rotate(30deg) translateX(150px) scale(1.3);
}