h1{
    font-family:'avant garde',didot,sans-serif;
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}