h1 {
    background-color: yellow;
    border: 2px solid black;
}

@media(max-width: 400px) {
    h1 {
        background-color: red;
        color: white;
    }
    div {
        height: 100px;
        width: 500px;
        background-color: coral;
    }
}