div {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
  text-align: center;
  border: 3px static black;
  margin: 10px;
  display: inline-block;
}

#Fixed {
  background-color: aqua;
  position: fixed;
  top: 100px;
  left: 100px;
}
