h1{
    color:rgb(0,255,0);
}
h2{
    color:rgb(255,0,0);
}
h3{
    color:rgb(0,0,255);
}
p{
    color:rgb(255,255,0);
}
big{
    color:rgb(0,255,255);
}
small{
    color:rgb(255,255,255);
    background-color: rgb(0,0,0);
}