#container {
    height: 400px;
    width: 400px;
    border: 2px solid teal;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}

#container div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}