#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: baseline;/*flex-start, 
    flex-end, center, space-between, space-around, space-evenly, baseline*/
    flex-wrap: wrap;
    /* align-items: center; */
    align-content: flex-start; /*flex-start, 
    flex-end, center, space-between, space-around, space-evenly, baseline*/
}

h1{
    text-align: center;
}

#container div{
    height: 50px;
    width: 350px;
    color: ghostwhite;
    font-size: 1.5em;
    text-align: center;
}

#orange{
    align-self: flex-end;
    flex-basis: 100px;
}

#blue{
    flex-basis: 500px;
}