.container {
    height: 300px;
    width: 600px;
    background-color: cyan;
    margin: 10px auto;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: auto auto auto; 
    /* row-gap: 10px;
    column-gap: 10px; */
    /* grid-gap: 10px 10px; */
    grid-gap: 10px;
}   

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}


h1 {
    text-align: center;
}