* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.main_box {
  background-image: url(photo.jpg);
  height: 100vh;
  background-size: cover;
}

.btn_one i{
  color: white;
  font-size: 30px;
  font-weight: 750;
  position: absolute;
  left: 20px;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.6s linear 0s ;
}

.sidebar_menu {
  position: fixed;
  left: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  transition: all 0.6s linear 0s ;
}

.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  height: 60px;
}

.sidebar_menu .logo i{
    margin: 10px;
    color: white;
    font-size: 40px;
    animation: camera 4s linear 0s infinite alternate;
} 
.sidebar_menu .logo a {
  position: absolute;
  left: 60px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.sidebar_menu .btn_two i{
  color: grey;
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 265px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.6s linear 0s ;
}

.sidebar_menu .menu {
  color: white;
  position: absolute;
  width: 100%;
  top: 80px;
}

.menu li {
  margin-top: 6px;
  padding: 14px 20px;
  transition: all 0.2s linear 0s ;
}

.menu i,
a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.menu i {
  padding-right: 10px;
}

.social_media {
  position: absolute;
  bottom: 30px;
  left: 25%;
}

.social_media i {
  color: white;
  opacity: 0.5;
  margin: 3px;
  padding: 0 5px;
  font-size: 20px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.btn_one i:hover {
    font-size: 40px;
    cursor: pointer;
}

.btn_two i:hover{
    font-size: 30px;
}

.social_media i:hover{
    opacity: 1;
    transform: scale(1.1) translate(-1px);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}

@keyframes camera {
    0% {
        color: red;
    }
    25% {
        color: pink;
    }
    50%{
        color: yellow;
    }
    75% {
        color: green;
    }
    100%{
        color:aqua;
    }
}