.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    text-align: center;
    line-height: 100px;
    margin: 10px auto;

    /* animation-name: widthAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: widthAnimation 4s ease-in 0s infinite alternate;
}

@keyframes widthAnimation {
    0% {
        width: 50px;
        background-color: green;
        font-size: 20px;
    }25% {
        background-color: red;
    }50%{
        background-color: yellow;
    }75%{
        background-color: aqua;
    }100%{
        width: 350px;
        font-size: 40px;
        border-radius: 50%;
        background-color: coral;
    }
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
} 

@keyframes colorAnimation {
    from{
        background-color: green;
    }
    to{
        background-color: aqua;
    }
}