div{
    background-color: bisque;
}

form{
    background-color:darkcyan;
}
input{
    background-color: inherit;
}

button{
    background-color: inherit;
}
button:hover{
    background-color: royalblue;
}