.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    text-align: center;
    line-height: 100px;
    margin: 10px auto;

    animation-name: widthAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes widthAnimation {
    from{
        width: 10px;
    }
    to{
        width: 400px;
    }
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
} 

@keyframes colorAnimation {
    from{
        background-color: green;
    }
    to{
        background-color: aqua;
    }
}